@import '../utils/vh.scss';

.card-container {
    width: vh(30);
    height: vh(30);
    border: 1px solid black;
    margin: vh(1);
    border-radius: 10px;

    .react-card-front, .react-card-back, .react-card-flip, .react-card-flipper, .front, .back {
        width: 100%;
        height: 100%;
    }
    
    .front {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .back {
        .daily-img {
            height: 100%;
            width: 100%;
            border-radius: 10px;
        }
    }
}